.all{
    width: 50%;
    margin: 10px auto;
}

.title{
    padding: 10px;
    position: absolute;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.carousel{
    border: solid 2px black;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slider{
    height: 100%;
    display: flex;
    width: 400%;
    transition: all 0.5s;
}

.img_box{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_img{
    width: 200px;
    height: 200px;
}

/*좌우 버튼*/

.controls{
    cursor: pointer;
}

.controls .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.controls ul{
    position: absolute;
    bottom: 20px;
    left: 50%;
    list-style: none;
    transform: translate(-50%);
    display: flex;
    padding: 0;
    margin: 0;
}

.controls ul li{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.controls ul li.selected{
    background-color: yellow;
}
