nav {
    background-color: navy;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo {
    width: 250px;
    margin: 10px;
}

.nav_logo img {
    width: 100%;
}

.nav_menu {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
}

.nav_menu li {
    color: white;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
}

.hamburger_logo {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
    display: none;
}

.hamburger_logo i {
    color: white;
    font-size: 40px;
}


@media screen and (max-width:900px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav_logo {
        align-self: start;
    }

    .side_bar{
        background-color:navy;
        display: flex;
        flex-direction: column;
        margin-top: 8px;

        position: absolute;
        top: 0;
        right: 0;

        width: 200px;
        height: 100%;
        
        display: none;
    }

    .login_box{
        color: white;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .login_box input{
        width: 100px;
    }

    .nav_menu {
        display: flex;
        flex-direction: column;
    }
    .nav_menu li{
        margin-bottom: 15px;
        cursor: pointer;
    }

    .hamburger_logo{
        display: flex;
    }

    .side_bar.show{
        display: flex;
    }
}